################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Web_Administration_II/FileContentIndex/28aefa1d-6860-4629-af36-da66246a2d55.vsidx
/.vs/Web_Administration_II/FileContentIndex/3ab1ebd2-aa32-4065-ac49-c7f639232a30.vsidx
/.vs/Web_Administration_II/FileContentIndex/96d9ce40-2e83-4e7a-bc27-c5322e428486.vsidx
/.vs/Web_Administration_II/FileContentIndex/f9332af1-ae2c-4f42-ba06-196c8dbd386a.vsidx
