element.style {
  display: block;
}
input, :before :after, * {
  box-sizing: border-box;
}
body {
  display: block;
  color: white;
  text-align: center;
  margin: 0;
}
header {  
  background: light-blue;
  position: fixed;
  margin: 0px;
  top: 0px;
  left: 0px;
  width: 100%;
  color: white;
  padding: 1px;
}
main {
  
}
footer {
	
}
div {
  vertical-align: baseline;
  margin: 0px;
  padding: 0px;
  border: 0px;
  border-width: 0px;
  unicode-bidi: isolate;
}
section {
  margin: 5px;
  padding: 25px;
}
table, th, td {
	border: 1px solid black;
}
ul {
  background-color: orange;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  float: left;
  border-right: 1px solid #bbbbbb;
  background-color: #27B0F5;
}
li:hover {
  float: left;
  border-right: 1px solid #bbbbbb;
  background-color: #eeeeee;
}
li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
.navigation-frame {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1760px;
  width: 100%;
  z-index: 997;
  padding: 0px 20px;
  margin: 0px auto;
}
.logo {
  max-width: 200px;
  padding-top: 7px;
  padding-bottom: 0.69px;
}
.header-right {
  display: flex;
  align-items: center;
}
.table-container {
	display: flex;
	justify-content: center;
}
.newsletter-frame {
  background: #1d2c41;
  margin: 0 auto;
  width: 100%;
  max-width: 1360px;
  padding-inline-start: 40px;
  padding-inline-end: 40px;
}
.updates-bar {
  display: grid; 
  align-items: center;
  min-height: 2.6rem;
  grid-template-columns: 27% 46% 27%;
}
.updates-bar-social-media {
  padding-inline-end: 1.25rem;
}
.social-media-icons {
  display: flex;
  flex-wrap: wrap;
  margin-inline-start: -.3125rem;
}
.social-media-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  margin: .3125rem;
  border: none;
}
.social-media-icons a .icon {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-media-icons a .icon img {
  height: 100%;
  width: 100%;
}

